<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
            background-color: aqua;
            font-size: xx-large;
        }
        #g a{
            text-decoration: none;
          
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <div style="height:100px;"></div>
    <h1>Welcome to Sembook</h1>
    <div id = "g">
        <a href = "/book/1"> Book1 </a><br><br>
        <a href = "/book/2"> Book2 </a><br><br>
        <a href = "/book/3"> Book3 </a><br><br>
        <a href = "/book/4"> Book4 </a><br><br>
        <a href = "/book/5"> Book5 </a><br><br>
        <a href = "/book/6"> Book6 </a><br><br>
    
        <a href = "/book/7"> Book7 </a><br><br>
        <a href = "/book/8"> Book8 </a>
    </div>
   
    <!-- <a href = "/book1"> Book1 </a>
    <a href = "/book2"> Book2 </a> -->
</body>
</html>