<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
            background-color: rgb(175, 253, 253);
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %> 
    <div style="height:80px;"></div>
    <h1>College life</h1>
    <p>

        College life is a person’s golden period of early youth. He remembers it in his whole life. He can never forget it. The period of college life maybe two years of intermediate classes. It may include two more years of graduation.

College life is a life of freedom. There is no fear of teachers. The teachers behave in a friendly manner. The students feel no compulsion in studies. They develop a sense of duty and study. They may go to the library or canteen or playground in spare time. They may move with friends of their own choice. They develop self-confidence. They realize self-importance. They learn good manners. They dream of becoming officers after studies.

Functions, tours, and sports are other aspects of college life. They are very happy occasions. They are memorable events of the student’s life. The students enjoy them very much. On these occasions, they take photographs of friends, teachers, and distinguished guests. They also take photographs of attractive scenery.

College life has some pitfalls also. Some students misuse the liberty. They give up their studies. Some students develop quarrelsome habits. They form terror groups. They disturb college administration. They tease other students. So their educational career is destroyed. Some students are misguided by selfish politicians. They like sabotage and strikes. Some students take too much interest in sports and other co-curricular activities. They ignore their studies. The students should avoid such harmful things still.

    </p>

    <img src = "https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2019/08/09103611/college.jpg">
</body>
</html>